In [75]:
import pandas as pd
import numpy as py
pd.read_excel(r'D:\Data analyst\New folder\datasets1.xlsx','Sheet2')

,Respondent ID-,Start Date-,End Date-,Email Address-,First Name-,Last Name-,Custom Data 1-,Identify which division you work in.-Response,-Other (please specify),Which of the following best describes your position level?-Response,...,-Response 8.1,-Response 9.1,-Response 10,-Response 11,-Response 12,-Response 13,-Response 14,Question 30-Response 1,-Response 2.11,-Response 3.9
0,NaN,NaT,NaT,NaN,NaN,NaN,NaN,Response,Other (please specify),Response,...,Response 8,Response 9,Response 10,Response 11,Response 12,Response 13,Response 14,Response 1,Response 2,Response 3
1,5.379192e+09,2021-01-22 12:01:17,2021-01-22 12:40:34,NaN,NaN,NaN,NaN,Infrastructure,NaN,Staff,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
2,2.658723e+09,2021-01-22 06:56:37,2021-01-22 07:34:10,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
3,4.044163e+09,2021-01-22 06:35:18,2021-01-22 06:47:32,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
4,5.535866e+09,2021-01-21 21:29:32,2021-01-21 21:40:24,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,7.940065e+09,2021-01-11 06:19:18,2021-01-11 06:32:59,NaN,NaN,NaN,NaN,Infrastructure,NaN,Department Lead,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
195,5.157706e+09,2021-01-11 06:19:14,2021-01-11 06:33:29,NaN,NaN,NaN,NaN,Finance,NaN,Staff,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
196,9.920756e+09,2021-01-11 06:18:48,2021-01-11 06:27:27,NaN,NaN,NaN,NaN,Port Operations,NaN,Staff,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
197,6.638341e+09,2021-01-11 06:19:01,2021-01-11 06:33:06,NaN,NaN,NaN,NaN,Infrastructure,NaN,Manager,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
198,8.114622e+09,2021-01-11 06:18:50,2021-01-11 06:26:46,NaN,NaN,NaN,NaN,Information Technology,NaN,Staff,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

In [89]:
import pandas as pd
data = pd.read_excel('datasets1.xlsx','Sheet2') 
df = data.drop(
    labels=["Start Date-","End Date-","Email Address-"	,"First Name-",	"Last Name-",	"Custom Data 1-"],
    axis=1
)
df

,Respondent ID-,Identify which division you work in.-Response,-Other (please specify),Which of the following best describes your position level?-Response,Which generation are you apart of?-Response,Please select the gender in which you identify.-Response,Which duration range best aligns with your tenure at your company?-Response,Which of the following best describes your employment type?-Response,Question 1-Response,Question 2-Response,...,-Response 8.1,-Response 9.1,-Response 10,-Response 11,-Response 12,-Response 13,-Response 14,Question 30-Response 1,-Response 2.11,-Response 3.9
0,NaN,Response,Other (please specify),Response,Response,Response,Response,Response,Response,Response,...,Response 8,Response 9,Response 10,Response 11,Response 12,Response 13,Response 14,Response 1,Response 2,Response 3
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,NaN,Answer 6,...,NaN,Answer 8,Answer 8,Answer 4,NaN,NaN,Answer 5,NaN,NaN,NaN
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Answer 4,Answer 2,...,NaN,Answer 5,NaN,NaN,Answer 2,NaN,Answer 5,NaN,NaN,Answer 1
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Answer 5,Answer 7,...,NaN,NaN,Answer 4,Answer 4,Answer 6,NaN,Answer 6,NaN,Answer 1,NaN
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Answer 1,Answer 1,...,Answer 2,Answer 5,Answer 7,NaN,Answer 6,NaN,Answer 7,Answer 7,Answer 1,Answer 6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,Answer 3,NaN,...,Answer 1,Answer 1,Answer 3,Answer 6,Answer 6,Answer 8,NaN,NaN,NaN,Answer 8
195,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,NaN,NaN,...,Answer 5,NaN,Answer 5,NaN,NaN,Answer 2,NaN,NaN,NaN,Answer 6
196,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,Answer 7,...,NaN,Answer 7,NaN,NaN,NaN,NaN,NaN,NaN,Answer 3,NaN
197,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,NaN,NaN,...,Answer 2,NaN,Answer 3,Answer 5,NaN,Answer 8,Answer 3,Answer 3,NaN,NaN
198,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,NaN,Answer 1,...,Answer 3,NaN,Answer 7,NaN,NaN,NaN,NaN,Answer 3,NaN,NaN

In [90]:
df.columns[:8]

Index(['Respondent ID-', 'Identify which division you work in.-Response',
       '-Other (please specify)',
       'Which of the following best describes your position level?-Response',
       'Which generation are you apart of?-Response',
       'Please select the gender in which you identify.-Response',
       'Which duration range best aligns with your tenure at your company?-Response',
       'Which of the following best describes your employment type?-Response'],
      dtype='object')

In [78]:
df.columns[8:]

Index(['Question 1-Response', 'Question 2-Response',
       'Question 3-Open-Ended Response', 'Question 4-Response',
       '-Other (please specify).1', 'Question 5-Response 1', '-Response 2',
       '-Response 3', '-Response 4', '-Response 5', '-Response 6',
       'Question 6-Response 1', '-Response 2.1', '-Response 3.1',
       '-Response 4.1', '-Response 5.1', '-Response 6.1',
       'Question 7-Response 1', '-Unscheduled', 'Question 8-Response 1',
       '-Response 2.2', '-Response 3.2', '-Response 4.2',
       'Question 9-Response 1', '-Response 2.3', '-Response 3.3',
       '-Response 4.3', 'Question 10-Response 1', '-Response 2.4',
       '-Response 3.4', '-Response 4.4', '-Response 5.2',
       'Question 11-Reponse 1', '-Response 2.5', 'Question 12-Response',
       'Question 13-Response', 'Question 14-Response', 'Question 15-Response',
       'Question 16-Response', 'Question 17-Response', 'Question 18-Response',
       'Question 19-Response', '-Other (please specify).2',
       'Question 20-Response', 'Question 21-Response', 'Question 22-Reponse 1',
       '-Reponse 2', 'Question 23-Response', 'Question 24-Response 1',
       '-Response 2.6', '-Response 3.5', '-Response 4.5', '-Response 5.3',
       'Question 25-Response 1', '-Response 2.7', '-Response 3.6',
       '-Response 4.6', '-Response 5.4', '-Response 6.2', '-Response 7',
       '-Response 8', '-Response 9', 'Question 26-Response 1', '-Response 2.8',
       '-Response 3.7', '-Response 4.7', 'Question 27-Response 1',
       '-Response 2.9', 'Question 28-Response', 'Question 29-Response 1',
       '-Response 2.10', '-Response 3.8', '-Response 4.8', '-Response 5.5',
       '-Response 6.3', '-Response 7.1', '-Response 8.1', '-Response 9.1',
       '-Response 10', '-Response 11', '-Response 12', '-Response 13',
       '-Response 14', 'Question 30-Response 1', '-Response 2.11',
       '-Response 3.9'],
      dtype='object')

In [92]:
id_vars= list(df.columns)[:8]
value_vars = list(df.columns)[8:]
value_vars

['Question 1-Response',
 'Question 2-Response',
 'Question 3-Open-Ended Response',
 'Question 4-Response',
 '-Other (please specify).1',
 'Question 5-Response 1',
 '-Response 2',
 '-Response 3',
 '-Response 4',
 '-Response 5',
 '-Response 6',
 'Question 6-Response 1',
 '-Response 2.1',
 '-Response 3.1',
 '-Response 4.1',
 '-Response 5.1',
 '-Response 6.1',
 'Question 7-Response 1',
 '-Unscheduled',
 'Question 8-Response 1',
 '-Response 2.2',
 '-Response 3.2',
 '-Response 4.2',
 'Question 9-Response 1',
 '-Response 2.3',
 '-Response 3.3',
 '-Response 4.3',
 'Question 10-Response 1',
 '-Response 2.4',
 '-Response 3.4',
 '-Response 4.4',
 '-Response 5.2',
 'Question 11-Reponse 1',
 '-Response 2.5',
 'Question 12-Response',
 'Question 13-Response',
 'Question 14-Response',
 'Question 15-Response',
 'Question 16-Response',
 'Question 17-Response',
 'Question 18-Response',
 'Question 19-Response',
 '-Other (please specify).2',
 'Question 20-Response',
 'Question 21-Response',
 'Question 22-Reponse 1',
 '-Reponse 2',
 'Question 23-Response',
 'Question 24-Response 1',
 '-Response 2.6',
 '-Response 3.5',
 '-Response 4.5',
 '-Response 5.3',
 'Question 25-Response 1',
 '-Response 2.7',
 '-Response 3.6',
 '-Response 4.6',
 '-Response 5.4',
 '-Response 6.2',
 '-Response 7',
 '-Response 8',
 '-Response 9',
 'Question 26-Response 1',
 '-Response 2.8',
 '-Response 3.7',
 '-Response 4.7',
 'Question 27-Response 1',
 '-Response 2.9',
 'Question 28-Response',
 'Question 29-Response 1',
 '-Response 2.10',
 '-Response 3.8',
 '-Response 4.8',
 '-Response 5.5',
 '-Response 6.3',
 '-Response 7.1',
 '-Response 8.1',
 '-Response 9.1',
 '-Response 10',
 '-Response 11',
 '-Response 12',
 '-Response 13',
 '-Response 14',
 'Question 30-Response 1',
 '-Response 2.11',
 '-Response 3.9']

In [93]:
data_melted = df.melt(id_vars= id_vars, value_vars= value_vars, var_name= "Question + Subquestion", value_name="Answer")
data_melted

,Respondent ID-,Identify which division you work in.-Response,-Other (please specify),Which of the following best describes your position level?-Response,Which generation are you apart of?-Response,Please select the gender in which you identify.-Response,Which duration range best aligns with your tenure at your company?-Response,Which of the following best describes your employment type?-Response,Question + Subquestion,Answer
0,NaN,Response,Other (please specify),Response,Response,Response,Response,Response,Question 1-Response,Response
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1-Response,NaN
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1-Response,Answer 4
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1-Response,Answer 5
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1-Response,Answer 1
...,...,...,...,...,...,...,...,...,...,...
17109,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,-Response 3.9,Answer 8
17110,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,-Response 3.9,Answer 6
17111,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,-Response 3.9,NaN
17112,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,-Response 3.9,NaN
17113,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,-Response 3.9,NaN

In [124]:
df = data_melted.rename(columns={'Identify which division you work in.-Response' : 'Primary Divison','-Other (please specify)': ' Secondary Divison', 'Which of the following best describes your position level?-Response':'Position','Which generation are you apart of?-Response':'Generations','Please select the gender in which you identify.-Response':'Gender','Which duration range best aligns with your tenure at your company?-Response':'Tenure','Which of the following best describes your employment type?-Response': 'Employment Type'})
df

,Respondent ID-,Primary Divison,Secondary Divison,Position,Generations,Gender,Tenure,Employment Type,Question + Subquestion,Answer
0,NaN,Response,Other (please specify),Response,Response,Response,Response,Response,Question 1-Response,Response
1,5.379192e+09,Infrastructure,NaN,Staff,Generation X (born between 1965-1980),Male,0-2 years,Full time Employee,Question 1-Response,NaN
2,2.658723e+09,Finance,NaN,Staff,NaN,NaN,10+ years,Full time Employee,Question 1-Response,Answer 4
3,4.044163e+09,Infrastructure,NaN,Department Lead,Generation X (born between 1965-1980),Male,3-5 years,Full time Employee,Question 1-Response,Answer 5
4,5.535866e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Non-Binary,5-10 years,Full time Employee,Question 1-Response,Answer 1
...,...,...,...,...,...,...,...,...,...,...
17109,7.940065e+09,Infrastructure,NaN,Department Lead,Baby Boomer (born between 1946-1964),Male,10+ years,Full time Employee,-Response 3.9,Answer 8
17110,5.157706e+09,Finance,NaN,Staff,Millennial (born between 1981-2000),Female,5-10 years,Full time Employee,-Response 3.9,Answer 6
17111,9.920756e+09,Port Operations,NaN,Staff,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,-Response 3.9,NaN
17112,6.638341e+09,Infrastructure,NaN,Manager,Millennial (born between 1981-2000),Female,3-5 years,Full time Employee,-Response 3.9,NaN
17113,8.114622e+09,Information Technology,NaN,Staff,Prefer not to answer,Male,5-10 years,Full time Employee,-Response 3.9,NaN

In [127]:
df.to_excel('datasetsoutput.xlsx')